body {
	background-color: white;
	font-family: helvetica;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 3;
	background-color: white;
	margin-bottom: 10px;
}

.page-body {
	position: absolute;
	width: 100%;
	top: 160px;
	overflow: auto;
	margin-bottom: 30px;
	overflow: visible;
}

h1 {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: black;
	background-color: #1E4979;
	width: 30%;
	min-width: 300px;
	line-height: 100px;
	box-shadow: 2px 2px 5px 2px #666666;
	text-shadow: 1px 1px 2px #666666;
}

h2 {
	text-indent: -20px;
	margin-left: 20%;
	margin-right: 20%;
	color: #1E4979;
}

.home-page {
	width: 1200px;
	margin: auto;
	position: relative;
}

.home-photo {
	width: 500px;
	height: auto;
	position: relative;
	top: 50px;
	left: 100px;
	margin-bottom: 50px;
}

.welcome-text {
	position: absolute;
	width: 400px;
	top: 50px;
	left: 690px;
}

.page-links {
	position: absolute;
	top: 200px;
	left: 655px;
}

.page-link-button {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px
}


.button-shape {
	display: block;
	width: 150px;
	height: 150px;
	background: linear-gradient(to bottom right, #666666, #1E4979);;
	border-radius: 10px	;
	display: inline-block;
	box-shadow: 2px 2px 4px 0px gray;
	line-height: 9.2em;
	cursor: pointer;
}

.link-title {
	display: block;
	font-size: 15pt;
	text-shadow: 1px 1px 5px black;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.link-title {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center-h2 {
	text-align: center;
	color: #1E4979;
	text-shadow: 1px 1px 2px white;
	padding-top: 5px;
}

.web-links {
	text-indent: 40px;
	margin-left: 20%;
	margin-right: 20%;
	color: #666666;
}

.plain-text {
	text-indent: 40px;
	margin-left: 20%;
	margin-right: 20%;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
/*	position: fixed; */
}

li.menu-link, .dropdown-item {
	float: left;
	
}

li.menu-link a, .dropdown-button {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
	border-right: 1px solid;
	border-color: white;
}

li.menu-link a:hover:not(.current-page), .dropdown-item:hover {
	background-color: black;
}

li.dropdown-item {
	display: inline-block;
}

.current-page {
	background-color: #1E4979;
}

li.resume-item {
	margin-left: 20%;
	margin-right: 20%;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 160px;
}

.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-menu a:hover {
	background-color: #404040;
	color: white;
}

.dropdown-item:hover .dropdown-menu {
	display: block;
}

.bio {
	text-indent: 40px;
	margin-left: 20%;
	margin-right: 20%;
}

img {
	padding: 0;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
}

img.portrait {
	position: absolute;
	top: 160px;
	right: 50%px;
	margin: auto;
	max-width: 500px;
}

img.resume {
	display: block;
	margin: auto;
	max-width: 70%;
}

