body {
	background-color: white;
	font-family: helvetica;
}

h1 {
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	color: black;
	background-color: #1E4979;
	width: 30%;
	min-width: 300px;
	line-height: 100px;
	box-shadow: 2px 2px 5px 2px #666666;
	text-shadow: 1px 1px 2px #666666;
}

h2 {
	text-indent: -20px;
	margin-left: 20%;
	margin-right: 20%;
	color: #1E4979;
}

.center-h2 {
	text-align: center;
	color: #1E4979;
	text-shadow: 1px 1px 2px white;
	padding-top: 5px;
}

.web-links {
	text-indent: 40px;
	margin-left: 20%;
	margin-right: 20%;
	color: #666666;
}

.plain-text {
	text-indent: 40px;
	margin-left: 20%;
	margin-right: 20%;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
/*	position: fixed; */
}

li.menu-link, .dropdown-item {
	float: left;
	
}

li.menu-link a, .dropdown-button {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
	border-right: 1px solid;
	border-color: white;
}

li.menu-link a:hover:not(.current-page), .dropdown-item:hover {
	background-color: black;
}

li.dropdown-item {
	display: inline-block;
}

.current-page {
	background-color: #1E4979;
}

li.resume-item {
	margin-left: 20%;
	margin-right: 20%;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 160px;
}

.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-menu a:hover {
	background-color: #404040;
	color: white;
}

.dropdown-item:hover .dropdown-menu {
	display: block;
}

.bio {
	text-indent: 40px;
	margin-left: 20%;
	margin-right: 20%;
}

img {
	padding: 0;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
}

img.portrait {
	position: absolute;
	top: 160px;
	right: 50%px;
	margin: auto;
	max-width: 500px;
}

img.resume {
	display: block;
	margin: auto;
	max-width: 70%;
}

.images {
	width: 100%;
	margin: auto;
	margin-top: 10px;
}

.photo-row {
	margin: auto;
	background: #BDBDBD;
	background: linear-gradient(to bottom right, #CEE3F6, #6E6E6E);
	width: 1050px;
	border-radius: 10px;
	margin-top: 20px;

}

.social-post {
	width: 500px;
	border-radius: 0px;
	margin: 10px;
	margin-bottom: 25px;
	z-index: 1;
	box-shadow: 5px 5px 10px 5px #424242;
	vertical-align: middle;
}

.portfolio-description {
	text-align: center;
}