body {

}

h1 {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	color: black;

}

.images {
	display: table;
	margin: auto;
}

#photo1, #photo2 {
	width: 500px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	margin: 5px;
}

#photo1:hover, #photo2:hover {
	opacity: 0.8;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}

.modal-image {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 3800px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%
	max-width: 3800px;
	text-align: center;
	color: white;
	padding: 10px;
	height: 150px;
	font-size: 20px;
}

.close-button, .next-button {
	position: absolute;
	color: white;
	font-size: 50px;
	font-weight: bold;
	transition: 0.5s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close-button {
	top: 20px;
	right: 30px;
}

.next-button {
	top: 40%;
	right: 10%;
}

.close-button:hover, .next-button:hover {
	color: gray;
	cursor: pointer;
}






