body {
	background-color: whitesmoke;
	font-family: helvetica;
}

h1 {
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	background-color: darkslategray;
	width: 30%;
	min-width: 300px;
	line-height: 100px;

}

.images {
	width: 100%;
	margin: auto;
	margin-top: 10px;
}

.photo {
	width: 500px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	margin: auto;
	z-index: 1;
}

.category {
	position: absolute;
	text-align: center;
	left: 0;
	top: 138px;
	width: 100%;
	font-size: 50px;
	font-family: helvetica;
	font-weight: bold;
	color: black;
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
}

.photo-link:hover > .photo {
	opacity: 0.6;
}

.photo-row {
	margin: auto;
	width: 1005px;
}

.photo-link {
	position: relative;
	display: block;
	margin: auto;
	width: 500px;
	height: 335px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
}

.photo-link:hover > .category {
	opacity: 1;
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}

.modal-image {
	margin: auto;
	display: block;
	width: 70%;
	max-width: 3800px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 3800px;
	text-align: center;
	color: white;
	padding: 10px;
	height: 150px;
	font-size: 20px;
}

.modal-image {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.5s;
	animation-name: zoom;
	animation-duration: 0.5s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

.close-button, .next-button, .back-button {
	position: absolute;
	color: white;
	font-size: 50px;
	font-weight: bold;
	transition: 0.5s;
}

.close-button, .next-button, .back-button, .category, .modal-image,
.photo, .back-home {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close-button {
	top: 20px;
	right: 30px;
}

.next-button {
	top: 45%;
	right: 5%;
}

.back-button {
	top: 45%;
	left: 5%;
}

.close-button:hover, .next-button:hover, .back-button:hover,
.back-home:hover {
	color: gray;
	cursor: pointer;
}


ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkslategray;
/*	position: fixed; */
}

li.menu-link, .dropdown-item {
	float: left;
	
}

li.menu-link a, .dropdown-button {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	border-right: 1px solid;
	border-color: whitesmoke;
}

li.menu-link a:hover:not(.current-page), .dropdown-item:hover {
	background-color: black;
}

li.dropdown-item {
	display: inline-block;
}

.current-page {
	background-color: darkgoldenrod;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 160px;
	z-index: 2;
}

.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-menu a:hover {
	background-color: #404040;
	color: white;
}

.dropdown-item:hover .dropdown-menu {
	display: block;
}

.back-home {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	transition: 0.2s;
}





